@model rp23052NetMD4.Models.ApplicationUser
@{
}
<h2 class="text-center">Welcome to your account</h2>

<div>
    First Name: @Model.FirstName
</div>
<div>
    Last Name: @Model.LastName
</div>
<div>
    Email: @Model.Email
</div>
<div>
    Phone: @Model.PhoneNumber
</div>
<div>
    Address: @Model.Address
</div>
<div>
    Created At: @Model.CreatedAt.ToString("MM/dd/yyyy")
</div>